<div class="content-container">
  <div class="content-area">
    <h1>Upload</h1>
    <div class="clr-row">
      <div class="clr-col-lg-3 clr-col-md-8 clr-col-12">
        <app-upload-player></app-upload-player>
      </div>
      <div class="clr-col-lg-3 clr-col-md-8 clr-col-12">
        <app-upload-history></app-upload-history>
      </div>
      <div class="clr-col-lg-3 clr-col-md-8 clr-col-12">
        <app-upload-vacation></app-upload-vacation>
      </div>
    </div>
    <button routerLink="/result" class="btn btn-primary">다음</button>
  </div>
</div>
